body, article, aside, section, main, form {
    margin: 0;
    padding: 0;
}

h1, p {
    margin: 15px 0;
    padding: 0;
}

a {
    color: #333;
    text-decoration: none;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
}

/*背景图片*/
main .background {
    width: 100%;
    min-height: 100vh;
    position: absolute;
    z-index: -1;
    filter: blur(2px);
    background: url("../img/background.jpg") no-repeat center;
    background-size: cover;
}

/*浮动盒子*/
.floatBox {
    position: relative;
    width: 450px;
    height: 400px;
    overflow: hidden;
    background: rgba(29, 29, 29, .4);
    font-size: 0;
}

/*----login盒子------*/
/*左边form盒子*/
.floatBox .login {
    padding: 16px;
    height: 100%;
}

/* 右边form logo 描述*/
.floatBox .login .logo,
.floatBox .login .descr {
    text-align: center;
    color: #fff;
}

.floatBox .login .logo {
    font-size: 30px;
    font-weight: 700;
}

.floatBox .login .descr {
    font-size: 10px;
}

/*form表单*/
.floatBox .login .form {
    margin: 40px auto 0;
    width: 80%;
}

/*input*/
.floatBox .login section {
    position: relative;
    margin: 10px 0;
}

.floatBox .login label {
    position: absolute;
    right: 80%;
    display: inline-block;
    text-align: right;
    line-height: 40px;
    font-size: 14px;
    color: #333;
}

.floatBox .login input {
    width: 100%;
    padding-left: 75px;
    height: 40px;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    color: rgba(134, 134, 134, 1);
}

/*提交按钮*/
.floatBox .login .submitBtn {
    width: 100%;
    padding: 10px 0;
    margin: 8px 0;
    border-radius: 5px;
    border: none;
    background: #69c0ff;
    color: #fff;
    transition: background .3s ease-in-out;
}

.floatBox .login .submitBtn:hover {
    background: #32a5f9;
    transition: background .3s ease-in-out;
}

/*注册账户 忘记秘密*/
.floatBox .login .service {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.floatBox .login .service a {
    font-size: 14px;
    color: #fff;
}

.floatBox .login .service a:hover {
    text-decoration: underline;
}

/*----------右边注册 忘记密码--------*/
.floatBox .register {
    width: 100%;
    height: 380px;
    box-sizing: border-box;
    position: absolute;
    left: -550px;
    top: 0;
}

/*返回按钮 盒子*/
.floatBox .login .backButton {
    display: flex;
    align-items: center;
    padding: 5px 0;
    width: 80px;
    height: 14px;
}

/*返回按钮 img*/
.floatBox .login .backButton .backImg {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("../img/back.png") no-repeat center;
    background-size: contain;
}

/*button hover改变img*/
.floatBox .login .backButton:hover .backImg {
    background: url("../img/backHove.png") no-repeat center;
    background-size: contain;
}

/*button hover改变title*/
.floatBox .login .backButton:hover .backTitle {
    cursor: pointer;
    color: #69c0ff;
    text-decoration: underline;
}

/*返回按钮title样式*/
.floatBox .login .backButton .backTitle {
    font-size: 14px;
    color: #fff;
}

/*验证码button样式*/
.floatBox .login .verificationButton {
    padding: 12px 10px;
    position: absolute;
    right: 0;
    border: none;
    background: #32a5f9;
    color: #fff;
}